* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.sidebar {
  width: 180px;
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 0;
}
.home {
  margin-left: 180px;
  /* background-color: #80808015; */
  background-color: #fff;
  min-height: 100vh;
  height: 100%;
  margin-top: 60px;
}

.sidebar ul li a {
  /* color: #11101d; */
  padding: 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 20px 0px 0px 20px;
  white-space: nowrap;
  /* transition: all 0.4s ease; */
}
.sidebar ul li a:hover {
  /* background: #80808015; */
  background-color: #fff;
  color: #000;
}

.sidebar ul li a.active {
  /* background: #80808015; */
  background: #fff;
  color: #000;
}

.navbar {
  color: #fff;
  position: fixed;
  left: 180px;
  right: 0px;
  height: 60px;
  top: 0px;
}
